.dao-page {
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: 250px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.dao-page-short-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
}
.dao-page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 20px;
}
.li-member {
    font-size: 10px;
}
.dao-page-initiatives-header {
    font-size: 26px;
    font-weight: bold;
}
