.dao-members {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 773px;
    margin-top: 20px;
    padding: 20px 20px 20px;
    border-radius: 10px;
    border: 1px #BDBDBD solid;

}

.members-header .members-title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
}

.members-header .members-count {
    margin-left: 10px;
    width: 70px;
    padding: 5px 13px;
    background: #BDBDBD;
    color: #F7F7F7;
    border-radius: 30px;
    margin-bottom: 10px;
}

.dao-members .list {
    width: 750px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dao-member {
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    background-color: #F7F7F7;
}

.dao-member-avatar img {
    width: 150px;
    border-radius: 50%;
    border: 0.5px solid #000;
}

.dao-member-name {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word
}

.dao-member-address {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word
}
