.dao-page {
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: 250px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.dao-page-short-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
}
.dao-page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 20px;
}
.li-member {
    font-size: 10px;
}
.dao-page-initiatives-header {
    font-size: 26px;
    font-weight: bold;
}

.dao-page-main .header {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
}


.dao-menu {
    width: 235px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #F7F7F7;
}
.dao-menu-item {
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    font-size: 18px;
    cursor: pointer;
}
.item-active {
    border-left: 2px solid #000000;
}
