.user-page {
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: 250px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.user-page-short-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
}

.user-page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 20px;
}

.user-page-main .user-votes-header {
    color: #4F4F4F;
    font-size: 28px;
    font-weight: bold;
}

.user-page-main .user-votes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #F7F7F7;
}


.user-page-main .user-vote-item .title {
    font-weight: bold;
}

.user-page-main .user-vote-item .header {
    display: flex;
    justify-content: space-between;
}

.user-page-main .user-vote-item .header img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid #000;
    display: inline;
    margin-right: 10px;
}
